<fs-alert fs-type="success" ng-show="result.success.count">
	<div ng-hide="result.success.message">
		{{result.success.count}} Successfully imported
	</div>
	<div ng-show="result.success.message">{{result.success.message}}</div>
</fs-alert>
<fs-alert fs-type="info" ng-show="result.duplicate.count">
	<div ng-hide="result.duplicate.message">
		{{result.duplicate.count}} <span><ng-pluralize count="result.duplicate.count" when="{ one: 'Duplicate', other: 'Duplicates' }"></ng-pluralize></span> ignored
	</div>
	<div ng-show="result.duplicate.message">{{result.duplicate.message}}</div>
</fs-alert>
<fs-alert fs-type="error" ng-show="result.fail.count">
	<div ng-hide="result.fail.message">
		{{result.fail.count}} Failed to import
	</div>
	<div ng-show="result.fail.message">{{result.fail.message}}</div>
</fs-alert>
<div ng-show="result.messages.length">
	<fs-lister ls-options="lsOptions"></fs-lister>
</div>
